#container {
  margin: 0;
  width: 100%;
  text-align: center;
  background: rgb(238, 247, 238);
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1% 1%;
  box-shadow: 0px 0px 50px 0px rgb(142, 196, 149);
}

ul.contact {
  list-style: none;
}
.copyRight {
  font-size: 16px;
}
ul.contact li {
  display: inline;
  font-size: 1em;
  padding: 10px;
}

ul.contact li span {
  margin: 20px;
}

.insta {
  border-radius: 10px;
  color: rgb(3, 67, 87);
}
@media (max-width: 450px) {
  .copyRight {
    font-size: 10px;
  }
}
