.header {
  background: rgb(238, 247, 238);
  display: flex;
  width: 100%;
  top: 0;
  position: fixed;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0px 0px 15px 0px rgb(142, 196, 149);
  flex: 1 0 25%;
  /* padding: 0 0 0 15%; */
}
/* #titlePart {
  display: flex;
  flex-direction: row;
} */
#logo img {
  width: 10vw;
  height: 11vh;
  padding: 3px;
  margin: 3%;
}
.container {
  width: 100%;
}
